:root {
  --fontColor: #f50057;
  --fontColor2: #f5005636;
  --fontColorAlt: black;
  --fontColorAlt2: grey;
  --fontColorSnackText: #fff;
  --fontColorBackGroundSmooth: rgb(240, 240, 240);
  --fontColorBackGroundSmooth2: rgb(250, 250, 250);
  --fontColorBackGroundSmoothError: pink;
  --fontColorBackGroundhover: rgb(240, 240, 240);
  --FontColorSuccess: green;
  --FontColorError: rgba(255, 196, 0, 0.924);
}

.hiden {
  display: none !important;
}

.left_pane_dredatawarehouse {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  transition: "all 0.25s";
}

.left_pane_noleftpane_dredatawarehouse {
  width: 0%;
}

.right_pane_dredatawarehouse {
  padding-bottom: 50px;
  margin-left: 26%;
  margin-right: 0%;
  margin-bottom: 2%;
  transition: "all 0.25s";
  border: 1px solid #333;
  border-radius: 12px;
  margin-top: 1%;
}

.right_pane_noleftpane_dredatawarehouse {
  padding-bottom: 50px;
  margin-left: 1%;
}

.right_pane_history_dredatawarehouse {
  margin-right: 26%;
}

.middlePaperSection_dredatawarehouse {
  width: 99%;
  height: 100%;
  /* margin-top: 75px; */
  background-color: var(--fontColorSnackText);
}

.grid_container_dredatawarehouse {
  display: flex;
}

.grid_column45_dredatawarehouse {
  width: 45%;
}

.grid_column100_dredatawarehouse {
  width: 100%;
}

.grid_column50_dredatawarehouse {
  width: 50%;
}
.grid_column40_dredatawarehouse {
  width: 40%;
}
.grid_column25_dredatawarehouse {
  width: 25%;
}

.grid_column10_dredatawarehouse {
  width: 10%;
}

.snackbar_dredatawarehouse {
  margin-left: auto;
  margin-left: auto;
  background-color: #333;
  color: var(--fontColorSnackText);
  text-align: center;
  border-radius: 2px;
  display: flex;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 45%;
  /* right: 45%; */
  bottom: 30px;
  font-size: 17px;
}
.snackbar_dredatawarehouse button {
  margin-left: 10px;
  background: none;
  color: var(--fontColor);
  border: none;
  cursor: pointer;
  float: right;
  height: auto;
}

.list_item_dredatawarehouse {
  display: flex;
}

.list_item_dredatawarehouse_list {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.list_item_dredatawarehouse_list_header {
  display: flex;
}

.create_border_dredatawarehouse {
  margin: 15px;
}

.list_item_dredatawarehouse_icon {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  color: var(--fontColorAlt2);
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  border-radius: 100%;
}

.list_item_dredatawarehouse_icon_tablecolumn {
  margin-left: 15px;
  padding: 2px;
  color: var(--fontColorAlt2);
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  border-radius: 100%;
}

.list_item_dredatawarehouse_icon_button {
  margin-left: 15px;
  padding: 2px;
  color: var(--fontColorAlt2);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background: none;
}

.list_item_dredatawarehouse_icon_button {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  color: var(--fontColorAlt2);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background: none;
}

.list_item_dredatawarehouse_icon_button:hover {
  background-color: var(--fontColorBackGroundSmooth);
  background-clip: padding-box;
}

.list_item_dredatawarehouse_icon_switch_off_icon {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  color: var(--fontColorAlt2);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background: none;
}

.list_item_dredatawarehouse_icon_switch_on_icon {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  color: var(--fontColor);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background: none;
}

.list_item_dredatawarehouse_text {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--fontColorAlt2);
}

.paper_dredatawarehouse {
  background: var(--fontColorBackGroundSmooth2);
  border: 1px solid var(--fontColorBackGroundSmooth);
  border-radius: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 6px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.301);
}

.paper_dredatawarehouse_noborder {
  /* background: #fbfbfb; */
  border: none;
  border-radius: 12px;
  margin: 12px;
  padding: 6px;
}

.paper_dredatawarehouse_noborder_nomargin {
  /* background: #fbfbfb; */
  border: none;
  padding: 6px;
}

.paper_dredatawarehouse_error {
  background-color: var(--fontColorBackGroundSmoothError);
  /* border: 2px solid grey; */
  border-radius: 12px;
  margin: 12px;
  padding: 6px;
}

.title_dredatawarehouse_error {
  margin-left: 5%;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.00938em;
  color: var(--fontColorAlt);
  font-weight: 500;
}
.title_dredatawarehouse {
  /* margin-left: 16px; */
  /* padding-top: 16px; */
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  color: var(--fontColorAlt);
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.title_dredatawarehouse_center {
  margin-left: auto;
  margin-right: auto;
}

.history_margin_right_dredatawarehouse {
  margin-right: 60%;
}

.history_no_margin_left_dredatawarehouse {
  margin-left: 1% !important;
}

.title_dredatawarehouse_left {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  color: var(--fontColorAlt);
  margin-block-start: 0em;
  margin-block-end: 0em;
  float: left;
}

.title_dredatawarehouse2 {
  /* margin-left: 16px; */
  /* padding-top: 16px; */
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  color: var(--fontColorAlt);
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.subtitle_dredatawarehouse_error {
  margin-left: 5%;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.00938em;
  color: var(--fontColorAlt);
  font-weight: 400;
}

.subtitle_dredatawarehouse {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  color: var(--fontColorAlt);
}

.list_item_dredatawarehouse_text_primary {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--fontColorAlt);
  margin-block-start: 0;
  margin-block-end: 0;
}

.list_item_dredatawarehouse_text_secondary {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--fontColorAlt);
  margin-block-start: 0;
  margin-block-end: 0;
}

.button_dredatawarehouse_altcolor {
  margin-bottom: 4px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
}

.button_dredatawarehouse {
  margin-bottom: 4px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--fontColor);
}

.button_dredatawarehouse:disabled,
.button_dredatawarehouse:hover:disabled,
.button_dredatawarehouse[disabled],
.button_dredatawarehouse_right:disabled,
.button_dredatawarehouse_right:hover:disabled,
.button_dredatawarehouse_right[disabled],
.button_dredatawarehouse_altcolor:disabled,
.button_dredatawarehouse_altcolor:hover:disabled,
.button_dredatawarehouse_altcolor[disabled],
.button_dredatawarehouse_right_altcolor:disabled,
.button_dredatawarehouse_right_altcolor:hover:disabled,
.button_dredatawarehouse_right_altcolor[disabled] {
  color: var(--fontColorBackGroundSmooth);
  background: none;
}

.button_dredatawarehouse_table_right {
  /* padding-top: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  /* padding-bottom: 5px; */
  float: right;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}

.button_dredatawarehouse_right_altcolor {
  margin-bottom: 4px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  float: right;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}

.button_dredatawarehouse_right_altcolor_login {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-left: auto;
  font-size: 15px;
  float: right;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
}

.button_dredatawarehouse_right {
  margin-bottom: 4px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-left: auto;
  float: right;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--fontColor);
}

.button_dredatawarehouse:hover,
.button_dredatawarehouse_right:hover,
.button_dredatawarehouse_alcolor:hover,
.button_dredatawarehouse_right_altcolor:hover,
.button_dredatawarehouse_table_right:hover,
.button_dredatawarehouse_right_altcolor_login:hover {
  background-color: var(--fontColorBackGroundhover);
  background-clip: padding-box;
}

.input_text_dredatawarehouse {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
}

.radiogroup_dredatawarehouse {
  display: grid;
}

/* Customize the label (the container) */
.radio_dredatawarehouse {
  display: block;
  position: relative;
  padding-left: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
}

.radio_dredatawarehouse2 {
  display: block;
  position: relative;
  margin-bottom: 12px;
  margin-top: 18px;
  cursor: pointer;
}

.radio_dredatawarehouse_sub {
  display: block;
  position: relative;
  margin-left: 50px;
  margin-bottom: 12px;
  /* margin-top: 12px; */
  cursor: pointer;
  width: 50%;
}

.radio_dredatawarehouse_sub_nomargin {
  display: block;
  position: relative;
  margin-bottom: 20px;
  /* margin-top: 12px; */
  cursor: pointer;
  width: 50%;
}

/* .radio_dredatawarehouse_sub input,
.radio_dredatawarehouse_sub_nomargin input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  background: none;
} */

/* Hide the browser's default radio button */
.radio_dredatawarehouse input {
  opacity: 0;
  height: 0;
  width: 0;
}

.radio_dredatawarehouse2 input {
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radio_dredatawarehouse_checkmark {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: var(--fontColorSnackText);
  border-radius: 50%;
}

.radio_dredatawarehouse_checkmark2 {
  position: absolute;
  height: 14px;
  width: 14px;
  /* background-color: #eee; */
  border: 2px solid var(--fontColorAlt);
}

/* On mouse-over, add a grey background color */
.radio_dredatawarehouse:hover input ~ .radio_dredatawarehouse_checkmark,
.radio_dredatawarehouse2:hover input ~ .radio_dredatawarehouse_checkmark2 {
  background-color: var(--fontColorAlt2);
}

/* When the radio button is checked, add a blue background */
.radio_dredatawarehouse input:checked ~ .radio_dredatawarehouse_checkmark,
.radio_dredatawarehouse2 input:checked ~ .radio_dredatawarehouse_checkmark2 {
  background-color: var(--fontColor);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_dredatawarehouse_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_dredatawarehouse
  input:checked
  ~ .radio_dredatawarehouse_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_dredatawarehouse .radio_dredatawarehouse_checkmark:after {
  top: 6.5px;
  left: 6.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--fontColorSnackText);
}

.radio_dredatawarehouse_checkmark_text {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
}

.wrap-input_dredatawarehouse {
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--fontColorAlt2);
  margin-top: 3px;
  margin-bottom: 3px;
}

.input_dredatawarehouse {
  /* font-family: Poppins-Regular; */
  font-size: 16px;
  font-weight: 500;
  color: var(--fontColorAlt);
  line-height: 1.2;

  display: block;
  width: 100%;
  /* height: 45px; */
  background: transparent;
  padding: 0 5px 0 5px;
  border: none;

  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.input_dredatawarehouse::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--fontColorAlt2);
  opacity: 1; /* Firefox */
}

/*---------------------------------------------*/
.focus-input_dredatawarehouse {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input_dredatawarehouse::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: var(--fontColor);
}

.focus-input_dredatawarehouse::after {
  /* font-family: Material-Design-Iconic-Font; */
  font-size: 22px;
  color: var(--fontColor);

  /* content: attr(data-placeholder); */
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  /* padding-left: 5px; */

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input_dredatawarehouse:focus {
  padding-left: 5px;
}

.input_dredatawarehouse:focus + .focus-input_dredatawarehouse::after {
  top: -22px;
  font-size: 18px;
}

.input_dredatawarehouse:focus + .focus-input_dredatawarehouse::before {
  width: 100%;
}

.has-val.input_dredatawarehouse + .focus-input_dredatawarehouse::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input_dredatawarehouse + .focus-input_dredatawarehouse::before {
  width: 100%;
}

.has-val.input_dredatawarehouse {
  padding-left: 5px;
}

.submitbutton_dredatawarehouse {
  margin-right: 5%;
  position: relative;
  cursor: pointer;
}

.submitbutton_dredatawarehouse_sucess {
  color: var(--FontColorSuccess);
}

.submitbutton_dredatawarehouse_error {
  color: var(--FontColorError);
}

.submitbutton_dredatawarehouse_standard {
  color: var(--fontColor);
}

.circular_progress_dredatawarehouse {
  background-color: var(--fontColorSnackText);
  height: 37vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular_progress_dredatawarehouse {
  max-width: 50%;
  text-align: center;
}

.TableSelectListTables_dredarawarehouse {
  margin: 15px;
  display: block;
}

.TableSelectprimary {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.TableSelectprimaryBackgroundFill_dredarawarehouse {
  background: var(--fontColorBackGroundSmooth);
}

.TableSelectcolumn_dredarawarehouse {
  /* margin: 15px; */
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.TableSelectcolumn_dredarawarehouse {
  /* margin: 15px; */
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.Chip_dredatawarehouse {
  float: right;
  max-width: 250px;
  border-radius: 15px;
  border: 1px solid var(--fontColor);
  background: none;
  margin: 5px;
}

.Chip_dredatawarehouse_alt {
  float: right;
  max-width: 250px;
  border-radius: 15px;
  border: 1px solid var(--fontColorAlt2);
  background-color: var(--fontColorAlt2);
  margin: 5px;
}

.Chip_dredatawarehouse_label {
  color: var(--fontColor);
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.Chip_dredatawarehouse_label_alt {
  color: var(--fontColorSnackText);
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.Chip_dredatawarehouse_title {
  color: var(--fontColor);
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.Chip_dredatawarehouse_title_alt {
  color: var(--fontColorSnackText);
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}
/* .Chipbutton_dredatawarehouse {
  max-width: 175px; 
  max-width: 175px;
  border-radius: 12px;
  border: 1px solid grey;
  background: none; 
} */

.history_panel_dredatawarehouse {
  width: 100%;
}

.history_dredatawarehouse_header_sub {
  width: 100%;
  margin-left: 12px;
}

.button_history_dredatawarehouse {
  cursor: pointer;
}

.button_history_dredatawarehouse:hover {
  background-color: var(--fontColorBackGroundSmooth2);
}

.button_icon_history_dredatawarehouse {
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  color: var(--fontColorAlt2);
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.button_icon_history_dredatawarehouse:hover {
  background-color: var(--fontColorBackGroundSmooth);
  border-radius: 100%;
}

.history_list_item_dredatawarehouse_list {
  display: flex;
  align-items: center;
  vertical-align: center;
  padding: 6px;
}

.history_list_item_dredatawarehouse_text_primary {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--fontColorAlt);
  margin-block-start: 0;
  margin-block-end: 0;
}

.history_list_item_dredatawarehouse_text_secondary {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--fontColorAlt);
  margin-block-start: 0;
  margin-block-end: 0;
}

.drawer_right_dredatawarehouse {
  height: 100%; /* 100% Full-height */
  width: 26%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--fontColorSnackText);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  margin-top: 6vh;
}
